@page 
@model Muntean_Tudor_Proiect.Pages.VinylRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vinyl[0].Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vinyl[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vinyl[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vinyl[0].PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vinyl[0].Color.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vinyl[0].VinylCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VinylD.VinylRecords)
        {
            string selectedRow = "";
            if (item.ID == Model.VinylID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Album)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.ColorName)
            </td>
            <td>
                @{
                    foreach (var category in item.VinylCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
